.weather-app {
  max-width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
    gap: 4rem;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .line {
    margin-top: -2rem;
    z-index: 999;
    max-width: 100%;
    height: 2px;
    background-color: #eeefef;
  }
}
